@charset "utf-8"; /* display */
.dis_i { display:inline !important; } 
.dis_ib { display:inline-block !important; } 
.dis_b { display:block !important; } 
.dis_n { display:none !important; } 

/* flex */
.flexCenter { display:flex; justify-content:center; align-items:center; } 

/* float */
.fl_l { float:left !important; } 
.fl_c { display:inline-block; *display:inline; zoom:1; } 
.fl_r { float:right !important; } 

/* position */
.pos_r { position:relative !important; } 
.pos_a { position:absolute !important; } 
.pos_f { position:fixed !important; } 
.pos_s { position:static !important; } 

/* border 0 */
.bt0 { border-top:0 !important } 
.br0 { border-right:0 !important } 
.bb0 { border-bottom:0 !important } 
.bl0 { border-left:0 !important } 
.bd0 { border:none !important } 

/* font-weight */
.fw_b { font-weight: 700 !important; } 
.fw_r { font-weight: 400 !important; } 
.fw_l { font-weight: 300 !important; } 
.fw_t { font-weight: 100 !important; } 

/* text-align */
.txt_l { text-align:left !important; } 
.txt_c { text-align:center !important; } 
.txt_r { text-align:right !important; } 

/* text-deco */
.txt-under { text-decoration:underline; text-underline-position:under; } 

/* cursor none */
.cursor-none { pointer-events: none; } 

/* vertical */
.vt_t { vertical-align:top !important; } 
.vt_m { vertical-align:middle !important; } 
.vt_b { vertical-align:bottom !important; } 

/* overflow */
.oh { overflow:hidden !important; } 
.ov { overflow:visible !important; } 

/* img */
img { -webkit-backface-visibility:hidden; -webkit-transform:translateZ(0) scale(1.0, 1.0); } 

/* 가상선택자 삭제 */
.bef_none::before,.aft_none::after,.beaf_none::before,.beaf_none::after { content:none !important } 

/* clearfix */
.clearfix::after { content:""; display:block; clear:both; } 

/* hide */
.hide { position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0; } 

/* bg black */
.bg-black { background: rgba(0, 0, 0, 0.2); position: fixed; z-index: 11; width: 100%; height: 100%; top: 0; left: 0; } 

/* width */
.w100 { width:100% !important; } 
.w50 { width:50% !important; } 

/* margin */
.mt0 { margin-top:0 !important; } 
.mr0 { margin-right:0px !important; } 
.mb0 { margin-bottom:0px !important; } 
.ml0 { margin-left:0px !important; } 

/* padding */
.pt0 { padding-top:0px !important; } 
.pr0 { padding-right:0px !important; } 
.pb0 { padding-bottom:0px !important; } 
.pl0 { padding-left:0px !important; } 



/****************** common style ******************/
/* title */
h1 { /*font-size: 6.897vw; line-height: 7.796vw;*/ color: #0b123e;}
.wrap {	padding: 0 16px;}
/* web */
.web h1 { font-size: 46px; line-height: 1.13;}

